.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh 2rem 4rem;
    flex-direction: column;


    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.02em;
    }
}