.nav {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    backdrop-filter: blur(8px) invert(20%);
    background: rgba(34, 34, 34, 0.7);
    border: 3px solid rgba(202, 199, 198, 0.2);
    transition: all 0.3s ease;
    border-radius: 12px;

    span {
        font-size: 2rem;
        background-clip: text;
        letter-spacing: 0.05em;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-2px);
        }
    }

    @media (max-width: 600px) {
        justify-content: center;
        align-items: center;

        span:first-of-type {
            display: none;
        }
    }
}