.reflection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            text-align: center;
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }
    }
}